/* .customerOrder {
    display: flex;
    justify-content: space-between;
} */

.incomingOrders {
    display: flex;
    flex-direction: column;
}

.orders-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid gray;
    
    /* Styling for now until we figure out how to style this better */
    padding-left: 10px;
}

.order-completed {
    background-color: rgb(177, 216, 169);
}